<%= render partial: "common/header" %>
<div class="header-contents">
  <div class="header-contents-center">
    <!--<p class="hash">#twink<del>le</del>pot</p>-->
    <p class="hash">#Let’s go wherever<del>rr</del> you want to go!</p>
    <div class="header-contents-description">フォトジェニックな場所を見つけよう、シェアしよう</div>
  </div>
</div>
<section class="about-contents">
  <ul class="gallery">
    <li><a href="#"><%= image_tag 'gallery_cafe.jpg', class: 'pic-1', alt: 'カフェ' %></a></li>
    <li><a href="#"><%= image_tag 'gallery_flower.jpg', class: 'pic-2', alt: '芝桜' %></a></li>
    <li><a href="#"><%= image_tag 'gallery_rabit.jpg', class: 'pic-3', alt: '岡崎神社' %></a></li>
    <li><a href="#"><%= image_tag 'gallery_illumi.jpg', class: 'pic-4', alt: 'イルミネーション' %></a></li>
  </ul>
  <div class="card-contents">
    <div class="panel panel-default">
      <div class="panel-body">
        いい感じにカードレイアウトするよ
      </div>
    </div>

  </div>
</section>

<script>
    $('.hash').t({
        speed:180,          // タイピングスピード
        speed_vary:false,  // 「true」にすると人間が入力しているかのように文字ごとのスピードが変わります。
        delay:1.0,
        blink:true,       // 「true」にするとカーソルを点滅させる事ができます。
        tag:'span',  // テキストを囲むタグを指定します。
    });
</script>