<main class="session-main">
  <div class="session-contents">
    <%= link_to root_path do %><h2 class="logo-face">Twinkpot</h2><% end %>
    <div class="form-erea">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="email-field">
            <%= f.email_field :email, autofocus: true, placeholder: 'メールアドレス' %>
          </div>

          <div class="field">
            <%= f.password_field :password, placeholder: 'パスワード', autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="check-field">
              <%= f.check_box :remember_me %>
              <%= f.label '次回から自動的にログイン' %>
            </div>
          <% end %>

          <div class="button-actions">
            <%= f.submit "ログイン" %>
          </div>
      <% end %>
      <%= render "users/shared/links" %>
    </div>
  </div>
</main>

