<%= render 'home/header' %>
<main class="user_edit-contents">
  <div class="edit_profile">
    <aside class="edit_profile-menu">
      <ul>
        <li><%= link_to 'プロフィール編集', edit_user_path(current_user.user_name), class: 'active' %></li>
        <li><%= link_to 'パスワード変更', edit_user_registration_path %></li>
      </ul>
    </aside>
    <div class="edit_profile-main">
      <%= form_for current_user do |f| %>
          <div class="edit_profile-main-row">
            <div class="edit_profile-form_name">
              <%= f.label :user_image, 'プロフィール画像' %>
            </div>
            <div class="edit_profile-form_input">
              <%= f.file_field :user_image, class: 'file-input', placeholder: '画像アップロード'%>
            </div>
          </div>
          <div class="edit_profile-main-row">
            <div class="edit_profile-form_name">
              <%= f.label :user_name, 'ユーザ名' %>
            </div>
            <div class="edit_profile-form_input">
              <%= f.text_field :user_name, placeholder: 'ユーザ名' %>
            </div>
          </div>
          <div class="edit_profile-main-row">
            <div class="edit_profile-form_name">
              <%= f.label :profile, '自己紹介' %>
            </div>
            <div class="edit_profile-form_input">
              <%= f.text_area :profile, placeholder: '自己紹介' %>
            </div>
          </div>
          <div class="edit_profile-main-row">
            <div class="edit_profile-form_name">
              <%= f.label :gender, '性別' %>
            </div>
            <div class="edit_profile-form_input">
              <%= f.select :gender, User.gender.options, include_blank: :true %>
            </div>
          </div>
          <div class="edit_profile-main-row">
            <div class="edit_profile-form_name">
              <%= f.label :birthday, '生年月日' %>
            </div>
            <div class="edit_profile-form_input">
              <%= f.date_select(
                      :birthday,
                      start_year: 1930,
                      end_year:   (Time.now.year - 5),
                      default:    Date.new(1989, 1, 1),
                      include_blank: :true) %>
            </div>
          </div>
          <div class="edit_profile-main-row">
            <div class="edit_profile-form_name">
              <%= f.label :prefectures, '都道府県' %>
            </div>
            <div class="edit_profile-form_input">
              <%= f.collection_select :prefectures, JpPrefecture::Prefecture.all, :name, :name, include_blank: :true %>
            </div>
          </div>
          <div class="edit_profile-main-row">
            <%= f.submit '更新', class: 'submit' %>
          </div>
      <% end %>
    </div>
  </div>
</main>
<%= render 'home/footer' %>