<div id="app">
  <%= render 'header' %>
  <div class="contents">
    <div class="contents-header">
    </div>
    <section class="post-section">
      <h2 class="post-title">Тќ░УдЈТіЋуе┐Рў║№ИЈ</h2>
      <%= form_for(@post, :url => photo_create_home_index_path) do |f| %>
        <p class="section-title">тєЎуюЪ<i class="fa fa-camera-retro" aria-hidden="true"></i><span class="form-required">т┐Ёжаѕ</span></p>
        <div class="uploader">
          <div class="image">
            <i class="fa fa-upload"></i>сѓбсЃЃсЃЌсЃГсЃ╝сЃЅ
          </div>
          <%= f.file_field :post_image, id: 'selfile', class: 'file-input', placeholder: 'ућ╗тЃЈсѓбсЃЃсЃЌсЃГсЃ╝сЃЅ', 'v-on:change': 'onFileChange' %>
        </div>
        <div id="canvas" v-show="uploadedImage">
          <p class="section-title"> сЃЌсЃгсЃЊсЃЦсЃ╝</p>
          <img :src="uploadedImage" id="image" />
          <i id="edit-button" class="fa fa-pencil edit-icon" aria-hidden="true"></i>
          <p>Рђ╗тЈ│СИІсЂ«сѓбсѓцсѓ│сЃ│сЂДућ╗тЃЈсѓњуиежЏєсЂЎсѓІсЂЊсЂесЂїсЂДсЂЇсЂЙсЂЎ</p>
        </div>
        <p class="section-title">СйЇуй«ТЃЁта▒<i class="fa fa-location-arrow" aria-hidden="true"></i><span class="form-required">т┐Ёжаѕ</span></p>
        <vue-google-autocomplete
          id="map"
          types="establishment"
          classname="google-autocomplete-input"
          placeholder="та┤ТЅђсѓњтЁ▒ТюЅсЂЌсѓѕсЂє­ЪЎѕ"
          v-on:placechanged="getAddressData"
          country="jp"
          name=""
        >
        </vue-google-autocomplete>
        <%= f.hidden_field :place_id, ':value': 'address.place_id' %>
        <%= f.hidden_field :place_name, ':value': 'address.name' %>
        <%= f.hidden_field :address, ':value': 'address.formatted_address' %>
        <%= f.hidden_field :country, ':value': 'addressData.country' %>
        <%= f.hidden_field :prefectures, ':value': 'addressData.administrative_area_level_1' %>
        <%= f.hidden_field :city, ':value': 'addressData.locality' %>
        <%= f.hidden_field :postal_code, ':value': 'addressData.postal_code' %>
        <%= f.hidden_field :tel, ':value': 'address.formatted_phone_number' %>
        <%= f.hidden_field :latitude, ':value': 'addressData.latitude' %>
        <%= f.hidden_field :longitude, ':value': 'addressData.longitude' %>
        <%= f.hidden_field :remote_post_image_url, id:'image_src', value: '' %>
        <p class="section-title">сѓ┐сѓ░<i class="fa fa-tags" aria-hidden="true"></i></p>
        <ul id="tag-it"></ul>
        <p class="section-title">сѓФсЃєсѓ┤сЃф<i class="fa fa-heart" aria-hidden="true"></i><span class="form-required">т┐Ёжаѕ</span></p>
        <%= f.collection_select :category_id, @categories, :id, :name %>
        <p class="section-title">сѓГсЃБсЃЌсѓисЃДсЃ│<i class="fa fa-comment-o" aria-hidden="true"></i></p>
        <%= f.text_area :caption, class: 'form-caption', placeholder: 'тєЎуюЪсЂ«УфгТўјсѓњТЏИсЂЊсЂє­ЪљЦ' %>
        <%= f.submit 'ТіЋуе┐­ЪЊи', class: 'post-button' %>
      <% end %>
    </section>
    <%= render 'content_footer' %>
  </div>
</div>

<%= javascript_pack_tag 'post' %>
