<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Twinkpot</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://dme0ih8comzn4.cloudfront.net/imaging/v2/editor.js" async></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDidRxloVMwFdfk0LVPKhIDVgbdi5ws4us&libraries=places" async></script>
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="turbolinks-cache-control" content="no-cache">
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:error]%>
      <div class="flash error">
        <%= flash[:error] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
