<%= render 'home/header' %>
<main class="user_edit-contents">
  <div class="edit_profile">
    <aside class="edit_profile-menu">
      <ul>
        <li><%= link_to 'プロフィール編集', edit_user_path(current_user.user_name) %></li>
        <li><%= link_to 'パスワード変更', edit_user_registration_path, class: 'active' %></li>
      </ul>
    </aside>
    <div class="edit_profile-main">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <div class="edit_profile-main-row">
            <div class="edit_profile-form_name">
              <%= f.label :email %>
            </div>
            <div class="edit_profile-form_input">
              <%= f.email_field :email, autofocus: true %>
            </div>
          </div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          <div class="edit_profile-main-row">
            <div class="edit_profile-form_name">
              <%= f.label :password, "新しいパスワード(#{@minimum_password_length}文字以上)" %>
            </div>
            <div class="edit_profile-form_input">
              <%= f.password_field :password, autocomplete: "off" %>
            </div>
          </div>
          <div class="edit_profile-main-row">
            <div class="edit_profile-form_name">
              <%= f.label :password_confirmation, '新しいパスワード(確認)' %>
            </div>
            <div class="edit_profile-form_input">
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>
          </div>
          <div class="edit_profile-main-row">
            <div class="edit_profile-form_name">
              <%= f.label :current_password, '現在のパスワード' %>
            </div>
            <div class="edit_profile-form_input">
              <%= f.password_field :current_password, autocomplete: "off" %>
            </div>
          </div>
          <div class="edit_profile-main-row">
            <%= f.submit '更新', class: 'submit' %>
          </div>
      <% end %>
      <h3>アカウントを削除する</h3>

      <p><%= button_to "アカウントを消す😔", registration_path(resource_name), data: { confirm: "本当によろしいですか？😭" }, method: :delete %></p>

      <%= link_to "Back", :back %>
    </div>
  </div>
</main>
<%= render 'home/footer' %>